{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>User</title>
</head>
<body>
{% block content %}
    <div class="container">
        <div class="row">
        <h3>Welcome Esteemed User to Our Site: How The System Shall be Used</h3><br>
            
        </div>
        <p>The system shall be accessed by the following: Procedure</p>
        <ul>
            <li>Register to the System</li>
            <li>Login to the System</li>
            <li>File Complain</li>
        </ul>
    </div>
{% endblock content %}
</body>
</html>